@model addingFieldsLogin.ViewModels.CalorieValuesViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CalorieView</title>
</head>
<body>
    <div> 
        <p>@Model.caloriesNeeded</p>
        <p>@Model.calorieuser.EmailLogin</p>
    </div>
</body>
</html>
